body{
    margin: 0;
    padding: 0;

}
.custom-rectangle {
    width: 200px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    background-color: #ff8c00; /* Orange color */
    clip-path: polygon(0 0, 70% 0, 100% 60%, 0 100%); /* Creates the angled shape */
  }
.card{
    margin-top: 50%;
    background-color: orange;
    padding: 40px;
}
.input-group-text{
    border: none;
}
.btn{
    background-color: orangered;
    width: 50%;
    border-radius: 20px;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: left;
}
p a{
    text-decoration: none;
    background-color: rgb(222, 70, 15);
    padding: 1px 3px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    
}